* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body,
main,
form {
    display: flex;
}

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

body,
input,
select,
option,
button {
    font-family: 'Assistant', sans-serif;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    z-index: -10;
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    filter: brightness(80%) grayscale(1);
}

body:after {
    content: "";
    display: block;
    position: fixed;
    opacity: .9;
    left: 0;
    top: 0;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    z-index: -9;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.9) 70%);
    background-size: cover;
    filter: brightness(50%) grayscale(1);
}

main {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(27, 35, 71, 0.9);
    box-shadow:
        -10px -20px 50px rgba(27, 35, 71, 0.9),
        0 20px 50px rgba(27, 35, 71, 0.9),
        10px 40px 50px rgba(27, 35, 71, 0.9);
}

h1 {
    margin: 20px 0;
    text-shadow: 3px 2px 10px #FFFFFF;
}

h2 {
    width: 80%;
    text-align: center;
    text-shadow: 3px 2px 10px #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 180px;
    border-radius: 20px;
    background-color: lightblue;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    outline: none;
}

button {
    height: 40px;
    width: 130px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #ffee66;
    outline: none;
    order: 10;
    margin-bottom: 20px;
}
  
button:hover {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: red;
}

.answer label {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.in_progress {
    background-color: green;
}

#error_messages {
    height: 80px;
    width: 300px;
    padding-left: 20px;
    color: firebrick;
    position: relative;
}
  
#error_messages::before {
    content: "Error messages";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
    color: grey;
    font-style: italic;
}
  
#error_messages::after {
    content: "";
    /* border: 2px solid black; */
    -webkit-filter: blur(2px);
            filter: blur(2px);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: rgba(136, 230, 172, 0.6);
    z-index: -1;
}

#answers {
    width: 50%;
    height: 40%;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    gap: 1em;
    margin-bottom: 20px;
}

#answers div {
    padding: 10px;
}

#answers div:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#progress {
    width: 50%;
    height: 15px;
    border-radius: 20px;
    border: 2px solid white;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

#progress div {
    height: 10px;
    width: inherit;
    border-radius: 20px;
}

/* media queries */
@media(min-width: 768px) {
main {
    width: 60%;
    height: 60%;
}
form {
    height: 100%;
}
h2 {
    height: 20%;
    margin-top: 40px;
}

#answers {
    grid-template-columns: repeat(2, auto);
    margin-bottom: 20px;
    width: 100%;
    height: 30%;
}
#progress {
    margin-bottom: auto;
}
}
